* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  margin: 0 auto;
  width: 392px;
  height: 852px;
  background-color: #0D0E10;
  position: relative;
  overflow: hidden;
}



@font-face {
  font-family: "Sebang-Gothic-OTF";
  src: url(./SebangGothic/SEBANG-Gothic-OTF.otf);
}

@font-face {
  font-family: "Sebang-Gothic-OTF-Bold";
  src: url(./SebangGothic/SEBANG-Gothic-OTF-Bold.otf);
}

@font-face {
  font-family: "GothicA1-SemiBold";
  src: url(./Gothic_A1/GothicA1-SemiBold.ttf);
}

@font-face {
  font-family: "GothicA1-Medium";
  src: url(./fonts/Gothic_A1/GothicA1-Medium.ttf);
}

@font-face {
  font-family: "GothicA1-Bold";
  src: url(./fonts/Gothic_A1/GothicA1-Bold.ttf);
}

@font-face {
  font-family: "Apple-SD-GothicNeo-Bold";
  src: url(./fonts/AppleSD_Gothic_Neo/AppleSDGothicNeoB.ttf);
}

@font-face {
  font-family: "Apple-SD-GothicNeo-Medium";
  src: url(./fonts/AppleSD_Gothic_Neo/AppleSDGothicNeoM.ttf);
}

@font-face {
  font-family: "Apple-SD-GothicNeo-Light";
  src: url(./fonts/AppleSD_Gothic_Neo/AppleSDGothicNeoL.ttf);
}

@font-face {
  font-family: "Apple-SD-GothicNeo-Regular";
  src: url(./fonts/AppleSD_Gothic_Neo/AppleSDGothicNeoR.ttf);
}

@font-face {
  font-family: "Yeongdo";
  src: url(./fonts/Yeongdo/Yeongdo.ttf);
}
